@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This application was create by Andrei Poltorak.</p>
<a href="https://www.linkedin.com/in/andrei-poltorak-8b7865158/">My LinkedIn account</a>

